<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>992406639165-9mdlf9qcluhj1h7bk9ahjeo9e7s8reg4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.992406639165-9mdlf9qcluhj1h7bk9ahjeo9e7s8reg4</string>
	<key>API_KEY</key>
	<string>AIzaSyCSXMOD7zPWkKEDbA-URfiq2P2LSzX_H5o</string>
	<key>GCM_SENDER_ID</key>
	<string>992406639165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.kmsoft.chat</string>
	<key>PROJECT_ID</key>
	<string>chatkmsoft</string>
	<key>STORAGE_BUCKET</key>
	<string>chatkmsoft.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992406639165:ios:53437d31ef66efc62d9054</string>
</dict>
</plist>